:root {
    --game-area-dimensions: 500px;
    --character-dimensions: 50px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #f0f8ff;
}

.main {
    display: flex;
    /* Center vertical and horizontally */
    justify-content: center;
    align-items: center;
    /* Occupy all the space left */
    flex-grow: 1;
}

#game-area {
    background-color: #ffa;
    border: 2px solid black;
    height: var(--game-area-dimensions);
    width: var(--game-area-dimensions);
    position: relative;
} 

.character {
    width: var(--character-dimensions);
    height: var(--character-dimensions);
    position: absolute;
}

#player {
    background-image: url("assets/kanye_west_coverless.png");
    background-size: cover;
}

#beyonce {
    background-image: url("assets/beyonce_face.jpg");
    background-size: cover;
    border-radius: 5px;
}
